@model MvcCoreAWSDynamoDB.Models.Coche

@{
    ViewData["Title"] = "CreateCar";
}

<h1>CreateCar</h1>

<h4>Coche</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="CreateCar" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdCoche" class="control-label"></label>
                <input asp-for="IdCoche" class="form-control" />
                <span asp-validation-for="IdCoche" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modelo" class="control-label"></label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VelocidadMaxima" class="control-label"></label>
                <input asp-for="VelocidadMaxima" class="form-control" />
                <span asp-validation-for="VelocidadMaxima" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagen" class="control-label"></label>
                <input asp-for="Imagen" class="form-control" />
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Seleccione un fichero: </label>
                <input type="file" name="file" class="form-control-file" />
            </div>
            <div class="form-group">
                <input type="checkbox" name="incluirmotor" value="yes" class="form-control" />Incluir motor
            </div>
            <div class="form-group">
                <label>Tipo de motor</label>
                <input type="text" name="tipo" class="form-control" /><br />
            </div>
            <div class="form-group">
                <label>Caballos </label>
                <input type="text" name="caballos" class="form-control" /><br  />
            </div>
            <div class="form-group">
                <label>Cilindrada</label>
                <input type="text" name="cilindrada"  class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit"  value="Create"  class="btn btn-primary" />
            </div>
        </form>
</div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

