
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<a asp-action="CreateCar" asp-controller="Coches">
    Crear un coche
</a>
<br />
<a asp-action="ListCoches" asp-controller="Coches">
    Lista de coches
</a>
<br />


