
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
	<h1 style="color:blueviolet">    AWS Application S3</h1> <ul class="list-group">    <li class="list-group-item">        <a asp-action="ListFilesAWS" asp-controller="AWSFiles">            Files AWS        </a>    </li>    <li class="list-group-item">        <a asp-action="UploadFileAWS" asp-controller="AWSFiles">            Upload File AWS        </a>    </li></ul>

